body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #330000;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.centre-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add-board-btn {
  background-color: cornflowerblue;
  color: #ffffff;
  border-radius: 2px;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 10px #b6b6b6;
  font-size: 16px;
  padding: 8px 16px;
  margin-left: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.game-container {
  padding: 15px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input-container {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.input-container label {
  font-size: 14px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.input-container input {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.game-container .winner-message {
  display: none;
  font-weight: bold;
  font-size: 18px;

}

.board-container {
  position: relative;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.board-container .tile {
  background-color: #d3d3d3;
  position: absolute;
  transition: all 150ms ease-out;
  color: #333333;
  cursor: pointer;
}

.board-container .tile p {
  font-weight: bold;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;

}

/** game won state, disable board and show win message in place of inputs **/

.game-container.won .board-container {
  opacity: .5;
  pointer-events: none;
}

.game-container.won .input-container {
  display: none;
}

.game-container.won .winner-message {
  display: block;
}
